@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */

body{
    padding: 0;
    margin: 0;
    font-family: roboto;
    color: 000;
}
h1{
    margin-top: 0;
    padding: 50px 0 50px 0;
    color: white;
    text-align: center
}
h2{
    margin: 0;
    padding-top: 20px;
    color: white;
}
h3{
    margin: 0;
    padding-bottom: 20px;
    color: white;
}
h1 a, h2 a{
    text-decoration: none;
    color: rgb(0, 170, 255);
}
h1 a:hover, h2 a:hover{
    text-decoration: underline;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.cnt{
    background: rgba(0, 0, 0, 0.608);
    color: white;
}
.header{
    background: url('img/image\ 1.svg') no-repeat center top / cover;
    text-align: center;
}
 /* CONTENT */
 
.detal{
    margin: 0;
    padding: 10px;
}
.detal img{
    width: 300px;
}
.katalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about{
    background: #2b2b2b;
}
.terrain img{
    width: 50%;
    padding-left: 50px;
}
/* подвал */
footer{
    background: rgb(0, 0, 0);
}
.map img{
    width: 50%;
}
.div{
    overflow:hidden;
    padding-bottom:38.5%;
    position:relative;
    height:0;
}
.map{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* АДАПТАЦИЯ */

@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 1199px) {
    .container{
        width: 960px;
    }
}
@media screen and (max-width: 991px) {
    .container{
        width: 720px;
    }
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
    .container{
        width: 100%;
    }
    h3{
        text-align: center;
    }
}